#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#PyBuilder
target/

#Pyre type checker
.pyre/

#dls-optics-sam-alalysis related
tags
*.swp

#tempt files
tmp/

#data file
data/

#egg file
spexwavepy.egg-info/

#Documentation
#docs/build/

#For experiment
ForExperiment/*

